/* Footer bar styles */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #edeef2;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start; /* Aligns the content to the left */
    align-items: center;
  }
  
  /* Hamburger menu icon */
  .hamburger-menu {
    all: unset;
    font-size: 30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
  }